[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bleach = ">=3.1.1"
numpy = "*"
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
nltk = "*"
typing = "*"
xmltodict = "*"
ipykernel = "*"
jupyter = "*"

[requires]
python_version = "3.7"
